@font-face {
  font-family: Satoshi;
  src:
    url("fonts/satoshi-vf.woff2") format("woff2"),
    url("fonts/satoshi-vf.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: Vandal;
  src:
    url("fonts/vandal.woff2"),
    url("fonts/vandal.woff");
  font-display: swap;
}

@font-face {
  font-family: Cascadia;
  src:
    url("fonts/cascadia.woff2"),
    url("fonts/cascadia.woff");
  font-display: swap;
}

body {
  margin: 0;
  background: #2c2d30;
  font-family: Satoshi, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.header {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  text-align: center;
  color: #faca15;

  & h1 {
    margin: 0;
    margin-top: 1.5rem;
  }

  & img {
    position: absolute;
    left: 0;
    top: 45%;
    margin-left: 1rem;
  }
}

.total-tickets {
  margin: 0;
  margin-top: 0.6rem;
  color: white;
  font-style: italic;
  font-weight: 300;
  text-align: center;

  & span {
    font-weight: 500;
    color: #faca15;
    font-size: 1.1rem;
  }
}

.loader {
  position: absolute;
  top: 50%;
  transform: translate(50%, 50%);
}

.ticket-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.btn-map {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.map {
  width: 100%;
}

.hidden {
  display: none;
}

.fade-in {
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  from { opacity: 0%; }
  to { opacity: 100%; }
}
